:root {
    --cor-fundo: #E9F5E3; /* Mudança de cor de fundo */
    --cor-principal: #C8E6C9; /* Cor principal ajustada */
    --cor-secundaria: #A5D6A7; /* Cor secundária ajustada */
    --cor-destaque: #66BB6A; /* Cor de destaque ajustada */
    --cor-texto: #2C6B2F; /* Cor do texto ajustada */
    --borda: 2px solid #4CAF50; /* Nova cor e estilo da borda */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border: var(--borda);
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
